.container {
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.card-header {
  background-color: #f8f9fa;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ddd;
}

.card-img-top {
  height: auto;
}

.card-body {
  text-align: center;
}

h1,
h2,
h3,
p {
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

.row,
.col {
  margin: 2rem;
}
.mini {
  padding-top: 0.75rem;
}
