<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Doanh thu bán hàng hôm nay</h1>
      <button class="btn btn-primary float-end">Export</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="/assets/dashboard/Icon1.png" />
          <h3>8.550.000₫</h3>
          <p>Tổng doanh thu</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="/assets/dashboard/Icon2.png" />
          <h3>100</h3>
          <p>Tổng đơn hàng</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="/assets/dashboard/Icon3.png" />
          <h3>14</h3>
          <p>Sản phẩm đã bán</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="/assets/dashboard/Icon4.png" />
          <h3>32</h3>
          <p>Khách hàng mới</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="card">
        <h2>Thông tin chi tiết của khách truy cập</h2>
        <img src="/assets/dashboard/chart1.png" />
      </div>

      <div class="card">
        <h2>Sự hài lòng của khách hàng</h2>
        <img src="/assets/dashboard/chart3.png" />
      </div>
    </div>

    <div class="col">
      <div class="card">
        <h2>Những sản phẩm bán chạy nhất</h2>
        <img src="/assets/dashboard/chart4.png" />
      </div>

      <div class="card">
        <h2>Mục tiêu và thực tế</h2>
        <img src="/assets/dashboard/chart2.png" />
      </div>
    </div>
  </div>

  <div class="card">
    <h2>Tổng doanh thu</h2>
    <img src="/assets/dashboard/chart5.png" />
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Doanh thu bán hàng hôm nay</h1>
      <button class="btn btn-primary float-end">Export</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card text-center mini">
        <img
          src="/assets/dashboard/Icon1.png"
          class="mx-auto"
          alt="Tổng doanh thu"
        />
        <div class="card-body">
          <h3>8.550.000₫</h3>
          <p>Tổng doanh thu</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center mini">
        <img src="/assets/dashboard/Icon2.png" class="mx-auto" />
        <div class="card-body">
          <h3>100</h3>
          <p>Tổng đơn hàng</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center mini">
        <img src="/assets/dashboard/Icon3.png" class="mx-auto" />
        <div class="card-body">
          <h3>14</h3>
          <p>Sản phẩm đã bán</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center mini">
        <img src="/assets/dashboard/Icon4.png" class="mx-auto" />
        <div class="card-body">
          <h3>32</h3>
          <p>Khách hàng mới</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Thông tin chi tiết của khách truy cập</h2>
        </div>
        <div class="card-body">
          <img
            src="/assets/dashboard/chart1.png"
            class="img-fluid"
            alt="Chart 1"
          />
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h2>Sự hài lòng của khách hàng</h2>
        </div>
        <div class="card-body">
          <img
            src="/assets/dashboard/chart3.png"
            class="img-fluid"
            alt="Chart 1"
          />
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Những sản phẩm bán chạy nhất</h2>
        </div>
        <div class="card-body">
          <img
            src="/assets/dashboard/chart4.png"
            class="img-fluid"
            alt="Chart 1"
          />
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h2>Mục tiêu và thực tế</h2>
        </div>
        <div class="card-body">
          <img
            src="/assets/dashboard/chart2.png"
            class="img-fluid"
            alt="Chart 1"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Tổng doanh thu</h2>
    </div>
    <div class="card-body">
      <img src="/assets/dashboard/chart5.png" class="img-fluid" alt="Chart 5" />
    </div>
  </div>
</div>
