<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Nhập mã xác minh</h5>
            <p class="text-center text-muted">
              Vui lòng kiểm tra email của bạn để lấy mã xác minh.
            </p>
            <form (ngSubmit)="verifyCode()">
              <!-- Input for verification code -->
              <div class="mb-3">
                <label for="verificationCode" class="form-label">Mã xác minh</label>
                <input
                  type="text"
                  class="form-control"
                  id="verificationCode"
                  formControlName="verificationCode"
                  required
                />
                <div
                  *ngIf="
                    verificationForm.get('verificationCode')?.invalid &&
                    verificationForm.get('verificationCode')?.touched
                  "
                  class="text-danger"
                >
                  Vui lòng nhập mã xác minh hợp lệ.
                </div>
              </div>
              <!-- Submit button -->
               
              <button type="submit" class="btn btn-success mt-3 w-100" >
                Xác minh
              </button>
            </form>
            <!-- Error message -->
            <div
              *ngIf="errorMessage"
              class="text-danger text-center mt-3"
            >
              {{ errorMessage }}
            </div>
            <!-- Success message -->
            <div
              *ngIf="successMessage"
              class="text-success text-center mt-3"
            >
              {{ successMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  