.container {
  padding: 0 40px;
}

.header {
  margin-bottom: 20px;
}

.add-btn {
  font-weight: 600;
}

.content {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter {
  width: 100%;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
}

.table th,
.table td {
  text-align: left;
  padding: 12px 16px;
}

.action-btn {
  margin-right: 8px;
}
/* Trạng thái active */
.active-status {
  background-color: #d4edda; /* Màu xanh lá nhạt */
  color: #155724; /* Màu chữ đậm */
}

/* Trạng thái inactive */
.inactive-status {
  background-color: #f8d7da; /* Màu đỏ nhạt */
  color: #721c24; /* Màu chữ đậm */
}

/* Căn chỉnh và phong cách thêm */
td.status {
  text-align: center;
  font-weight: bold;
}
