<main class="nutrition-calculator">
  <div class="content-wrapper">
    <aside class="sidebar">
      <h2 class="sidebar-title">Công cụ</h2>
      <nav>
        <ul class="tool-list">
          <li>
            <a href="/dinhduong" class="tool-link active">Tính chỉ số dinh dưỡng</a>
          </li>
          <li>
            <a href="/tdee" class="tool-link">Tính TDEE và xây dựng thực đơn</a>
          </li>
        </ul>
      </nav>
    </aside>
    <section class="main-content">
      <h1 class="main-title">Nhập tên thực phẩm</h1>

      <form (ngSubmit)="searchNutrition()" class="nutrition-form">
        <div class="form-group">
          <label for="productName" class="form-label">Tên sản phẩm</label>
          <input
            type="text"
            id="productName"
            class="form-input"
            [(ngModel)]="foodName"
            (input)="fetchSuggestions()"
            name="productName"
            required
          />
          <!-- Gợi ý -->
          <ul class="suggestion-list" *ngIf="suggestions.length > 0">
            <li
              *ngFor="let suggestion of suggestions"
              (click)="selectSuggestion(suggestion.Name)"
              class="suggestion-item"
            >
              {{ suggestion.Name }}
            </li>
          </ul>
        </div>

        <div class="form-group">
          <label for="quantity" class="form-label">Số lượng (g)</label>
          <input
            type="number"
            id="quantity"
            class="form-input"
            [(ngModel)]="quantity"
            name="quantity"
            min="1"
            required
          />
        </div>

        <button type="submit" class="submit-button">TÌM KIẾM</button>
      </form>

      <div
        class="nutritional-info row align-items-center"
        *ngIf="nutritionData"
        style="margin-bottom: 2rem"
      >
        <div class="col-md-6">
          <div class="image-wrapper">
            <img
              [src]="nutritionData.Anh"
              class="img-fluid"
              alt="{{ nutritionData.Name }}"
            />
          </div>
        </div>
        <div class="col-md-6">
          <h2>Thông tin dinh dưỡng cho: {{ nutritionData.Name }}</h2>
          <ul>
            <li><strong>Kcal:</strong> {{ nutritionData.Kcal }} kcal</li>
            <li><strong>Protein:</strong> {{ nutritionData.Protein }} g</li>
            <li><strong>Lipid:</strong> {{ nutritionData.Lipid }} g</li>
            <li><strong>Glucid:</strong> {{ nutritionData.Glucid }} g</li>
            <li><strong>Nhóm:</strong> {{ nutritionData.Group }}</li>
          </ul>
        </div>
      </div>

      <!-- Nút Xem chi tiết -->
      <button
        *ngIf="nutritionData"
        (click)="toggleDetail()"
        class="detail-button"
      >
        Xem chi tiết
      </button>

      <!-- Hình ảnh chi tiết -->
      <div *ngIf="showDetail && nutritionData" class="detail-image-wrapper">
        <img [src]="nutritionData.Chitiet" alt="Hình ảnh chi tiết dinh dưỡng" />
      </div>
    </section>
  </div>
</main>
