html,
body {
  background-color: #fefae9;
}
.img-fluid {
  width: 80%;
}
.container {
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: #fefae9;
}
.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.topic img {
  width: 70px;
  height: 70px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.container h2,
.topic h3 {
  text-align: center;
  color: #0a6835;
}

.container h2 {
  margin-bottom: 50px;
  text-align: center;
}

.topic h3 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
  text-decoration: underline;
  color: green;
  text-decoration-skip: spaces;
}
.cotloi {
  display: flex;
}

.cotloi img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-top: 3px;
}

.cotloi h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.text {
  color: white;
} /* Đảm bảo chiều dài và chiều rộng card đồng đều */
.team-card {
  width: 100%; /* Card chiếm toàn bộ cột */
  max-width: 180px; /* Giới hạn chiều rộng tối đa */
  height: 100%; /* Card sẽ cân đối chiều cao */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.team-card img {
  width: 100%;
  height: auto; /* Đảm bảo giữ tỷ lệ hình ảnh */
  object-fit: cover;
}

.team-card .card-body {
  padding: 15px;
}

.team-card h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.team-card p {
  font-size: 14px;
  margin-bottom: 5px;
}
