<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Quên mật khẩu</h5>
            <form (ngSubmit)="sendResetLink()">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  required
                />
                <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger">
                  Vui lòng nhập email hợp lệ.
                </div>
                
              </div>
              <button type="submit" class="btn btn-success mt-3 w-100">
                <a routerLink="/verify" href="/verify">
                  Gửi yêu cầu
                </a>
              </button>
              
              
            </form>
            <div *ngIf="errorMessage" class="error-message text-danger text-center">
              {{ errorMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  