

<div class="container">
  <section class="payment-section">
    <h2 class="section-title">Thanh toán</h2>
    <hr class="section-divider" />

    <div class="address-info">
      <p class="address">KTX Khu B, ĐHQG, Linh Trung, Thủ Đức, Hồ Chí Minh</p>
      <button class="change-btn">Thay đổi</button>
    </div>

    <div class="phone-info">
      <p class="phone-number">0337085901</p>
      <button class="change-btn">Thay đổi</button>
    </div>

    <div class="payment-method">
      <h3 class="subsection-title">Phương thức thanh toán:</h3>
      <div class="method-options">
        <label>
          <input
            type="radio"
            name="paymentMethod"
            [(ngModel)]="paymentMethod"
            value="card"
          />
          Thẻ
        </label>
        <label>
          <input
            type="radio"
            name="paymentMethod"
            [(ngModel)]="paymentMethod"
            value="cod"
          />
          COD
        </label>
      </div>
    </div>

    <!-- Thẻ payment form -->
    <form *ngIf="paymentMethod === 'card'" class="card-form">
      <!-- Nếu chưa nhấn "Tiếp tục" -->
      <div *ngIf="!isCodeVerification">
        <div class="form-group">
          <label for="cardNumber" class="form-label">Số thẻ</label>
          <input
            type="text"
            id="cardNumber"
            class="form-input"
            placeholder="1234 5678 9101 1121"
          />
        </div>
    
        <div class="form-row">
          <div class="form-group">
            <label for="expiryDate" class="form-label">Ngày hết hạn</label>
            <input
              type="text"
              id="expiryDate"
              class="form-input"
              placeholder="MM/YY"
            />
          </div>
          <div class="form-group">
            <label for="cvv" class="form-label">CVV</label>
            <input type="text" id="cvv" class="form-input" placeholder="123" />
          </div>
        </div>
        <input type="checkbox" /> Lưu thông tin thẻ
        <button
          type="button"
          class="submit-btn"
          (click)="goToCodeVerification()"
        >
          TIẾP TỤC
        </button>
      </div>
    
      <!-- Nếu đã nhấn "Tiếp tục" -->
      <div *ngIf="isCodeVerification">
        <p>Nhập mã code 4 kí tự được gửi đến bạn để xác nhận thanh toán</p>
        <div class="code-inputs">
          <input
            type="text"
            maxlength="1"
            [(ngModel)]="codeInput[0]"
            class="code-input"
          />
          <input
            type="text"
            maxlength="1"
            [(ngModel)]="codeInput[1]"
            class="code-input"
          />
          <input
            type="text"
            maxlength="1"
            [(ngModel)]="codeInput[2]"
            class="code-input"
          />
          <input
            type="text"
            maxlength="1"
            [(ngModel)]="codeInput[3]"
            class="code-input"
          />
        </div>
        <button
          type="button"
          class="submit-btn"
          (click)="verifyCode()"
        >
        <a href="/success-noti" routerLink="/success-noti">Xác nhận thanh toán</a>
        </button>
      </div>
    </form>
    

    <!-- COD payment form -->
    <div *ngIf="paymentMethod === 'cod'" class="cod-form">
      <p>Thanh toán khi nhận hàng.</p>
      <button type="button" class="submit-btn">
        <a href="/success-noti" routerLink="/success-noti">Đặt hàng</a>
      </button>
    </div>
  </section>

  <section class="summary-section">
    <h2 class="section-title">Thông tin đơn hàng</h2>
    <hr class="section-divider" />

    <div class="price-breakdown">
      
      
      <div class="voucher-section">
        
        <form (submit)="applyVoucher(voucherInput.value); $event.preventDefault()">
          <input
            type="text"
            #voucherInput
            placeholder="Nhập số tiền giảm giá"
            class="voucher-input"
          />
          <button type="submit" class="voucher-btn">Áp dụng</button>
        </form>
        
      </div>

      <div class="price-row">
        <span>Tổng tiền hàng:</span> 
        
        <span>{{ totalAmount | currency: 'VND' }}</span>
      </div>
      <div class="shipping">
        <span class="shipping-tag">Phí ship:</span>
        <span class="shipping-value">0đ</span>
      </div>

      

      <div *ngIf="voucherValue > 0" class="voucher-applied">
        <div class="price-row">
          <span>Giảm giá:</span>
          <span>-{{ voucherValue | currency: 'VND' }}</span>
        </div>
      </div>

      <hr class="section-divider" />

      
     

      <div class="total-price">
        <span>Tổng thanh toán:</span>
        <span>{{ totalAmountAfterVoucher | currency: 'VND' }}</span>
      </div>
      
    </div>
  </section>
</div>
