.container {
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header {
  margin-bottom: 20px;
}

.add-btn {
  font-weight: 600;
}

.content {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter {
  width: 100%;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
}

.table th,
.table td {
  text-align: left;
}

.action-btn {
  margin-right: 8px;
}
.add-btn,
.action-btn {
  transition: background-color 0.3s, color 0.3s;
}

/* Khi nút được chọn */
.add-btn.active,
.action-btn.active {
  background-color: #32794f; /* Nền xanh lá */
  color: #ffffff; /* Chữ trắng */
}

.add-btn:hover,
.action-btn:hover {
  background-color: #285d3b; /* Màu xanh lá đậm hơn khi hover */
}

/* Dòng trong bảng khi được chọn */
.mat-row.active {
  background-color: #d4edda; /* Màu xanh lá nhạt */
  color: #155724; /* Màu chữ đậm */
}

nav {
  background-color: #d2f5cd; /* Màu nền */
  padding: 10px;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  margin-right: 3rem;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-bottom: 2px solid transparent; /* Đường viền dưới khi hover */
}

nav a:hover {
  border-bottom: 2px solid #008000; /* Màu xanh lá khi hover */
}

nav {
  background-color: #d2f5cd; /* Màu nền */
  padding: 20px;

  margin-left: 10px;
}

nav ul {
  list-style: none;
  margin-right: 3rem;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
}

/* nav ul li a.active {
  text-decoration: underline;
  font-weight: bold;
  border-bottom: 2px solid #007bff;
} */

nav a:hover {
  border-bottom: 2px solid #008000;
}
